html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

.header{
    display: flex;
    text-align: center;
    background-color: #393e46;
    width: 100%;
    height: 150px;
    color: white;
    justify-content: space-between;
    align-items: center;


}

.PrimerLogo{
    background-image: url(../../img/pixlr-bg-result.png);
    height: 64px;
    width: 64px;
}

.segundoLogo{
    background-image: url(../../img/GitHub-Mark-64px.png);
    height: 64px;
    width: 64px;
}