.vistas{
    display: flex;
    background-color: #00adb5;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    font-weight: bold;
}

.subtemas{
    
    padding: 10px 25%;
     margin: auto;
    color: white; 
    font-size: 20px; 
}

.subtemas:hover{
    background-color:  #019ea7;
}

.active{
    background-color:  #019ea7;
    color: rgb(0, 0, 0);
}