
    



<ng-container *ngFor='let auto of autos | slice: (page-1) * pageSize : page * pageSize '>

    <div class="list">
    
        <div class="icon" (click)="open(content)" (click)="onSelect(auto)" ><i class="far fa-eye" ></i> </div>
        <div class="item"> {{auto.marca}}  {{auto.submarca}}  / {{auto.modelos}}</div>

    </div>  
</ng-container>


<ngb-pagination [collectionSize]="120" 
[(page)]="page" 
aria-label="Default pagination "
 [pageSize]="pageSize"
[collectionSize]="autos.length" 
class="d-flex justify-content-center" 
[maxSize]="5"
[rotate]="true"
[ellipses]="false"
[boundaryLinks]="true" >
</ngb-pagination>

 <br>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Auto seleccionado</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class=" item">
         Marca: {{autoSelecionado.marca}} <br>
          Modelos: {{autoSelecionado.modelos}}<br>
          Ocupantes: {{autoSelecionado.Ocupantes}}<br>
          Descripcion: {{autoSelecionado.descripcion}} <br>
        </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>





